In [ ]:
#Agenda

In [1]:
import numpy as mm
import pandas as pd
from pandas import Series, DataFrame

In [2]:
#Drop values from series
cars = Series(['Bmw','Honda', 'Audi'], index=['a','b','c'])
print(cars)

a      Bmw
b    Honda
c     Audi
dtype: object

In [3]:
cars = cars.drop('a')
print(cars)

b    Honda
c     Audi
dtype: object

In [29]:
#Drop Rows from DataFrame
#Drop Columns from DataFrame
cars_df=DataFrame(mm.random.randn(9).reshape(3,3), index=['Bmw','Audi','Honda'], columns=['Test1','test2','Test3'])
print(cars_df)

          Test1     test2     Test3
Bmw   -1.186780 -0.540891 -0.122217
Audi   0.698602  1.316959 -1.110716
Honda -0.677336  0.284782 -0.780816

In [30]:
cars_df=cars_df.drop('Bmw')
print(cars_df)

          Test1     test2     Test3
Audi   0.698602  1.316959 -1.110716
Honda -0.677336  0.284782 -0.780816

In [26]:
cars_df=cars_df.drop('Test1', axis=1)
print(cars_df)

          test2     Test3
Audi   0.841221  1.428851
Honda  1.152104 -0.059197