In [ ]:
#Agenda

In [1]:
import numpy as mm
import pandas as pd
from pandas import Series, DataFrame

In [2]:
series1 = Series([100,200,300], index=['a', 'b', 'c'])
print(series1)

a    100
b    200
c    300
dtype: int64

In [3]:
#access single element in series
series1['a']

100

In [4]:
#access single element in series
series1['b']

200

In [5]:
#access multiple element in series
series1[ ['a', 'c']]

a    100
c    300
dtype: int64

In [6]:
#using Numerical Indexes
series1[2]

300

In [9]:
#conditional indexes
series1[series1 >= 200]

b    200
c    300
dtype: int64

In [10]:
series1[series1== 200]

b    200
dtype: int64

In [11]:
#acessing one or more column data from a dataframe
df1= DataFrame(mm.arange(9).reshape(3,3), index=['car', 'bike', 'cycle'], columns=['c1','c2', 'c3'])
print(df1)

       c1  c2  c3
car     0   1   2
bike    3   4   5
cycle   6   7   8

In [12]:
df1['c3']

car      2
bike     5
cycle    8
Name: c3, dtype: int32

In [14]:
df1[['c1', 'c3']]

       c1  c3
car     0   2
bike    3   5
cycle   6   8

In [15]:
#boolean operations in dataframe
df1 > 5

          c1     c2     c3
car    False  False  False
bike   False  False  False
cycle   True   True   True